<script type="text/javascript" src="popup.js"></script>

<body>
	<form name="configForm">
		<span>Link you desire: </span><input type="text" name="targetUrl" placeholder="F5 target"/>
		<span>Link you sufferring: </span><input type="text" name="failureUrl" placeholder="Page url you suffering"/>
		<span>Run on domain: </span><input type="text" name="domain" placeholder="XXX.com"/>
		<span>Retry delay: </span><input type="number" name="delay" placeholder="Retry delay time (ms)"/>
		<button type="button" name="updateButton">Save</button>
		<button type="button" name="startButton">Start</button> 
		<button type="button" name="stopButton">Stop</button> 
		<br />
		<span>Current config: </span><input type="text" name="configJson" />
		<button type="button" name="loadConfigButton">Load</button>
	</form>
</body>
